In [1]:
import numpy as np
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

%precision 3

np.random.seed(0)

In [2]:
df1 = pd.read_csv('../chap3/student-mat.csv', sep=';')
df2 = pd.read_csv('../chap3/student-por.csv', sep=';')

student_data_merge = pd.merge(df1, df2,
                     on=['school','sex','age','address','famsize','Pstatus','Medu',
                         'Fedu','Mjob','Fjob','reason','nursery','internet'],
                     suffixes=['_math','_por'])
student_data_merge.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

### 1.

In [3]:
sp.stats.ttest_rel(student_data_merge["absences_math"], student_data_merge["absences_por"])

Ttest_relResult(statistic=4.794359243088911, pvalue=2.3441656888384195e-06)

In [4]:
sp.stats.wilcoxon(student_data_merge["absences_math"], student_data_merge["absences_por"])

WilcoxonResult(statistic=12224.5, pvalue=3.361870166716754e-08)

> t検定でも，Wilcoxon検定でも，差がある。

### 2.

In [5]:
sp.stats.ttest_rel(student_data_merge["studytime_math"], student_data_merge["studytime_por"])

Ttest_relResult(statistic=-0.5768458127637375, pvalue=0.5643842756976525)

In [6]:
sp.stats.wilcoxon(student_data_merge["studytime_math"], student_data_merge["studytime_por"])

/Users/me/anaconda3/lib/python3.7/site-packages/scipy/stats/morestats.py:2778: UserWarning: Warning: sample size too small for normal approximation.
  warnings.warn("Warning: sample size too small for normal approximation.")

WilcoxonResult(statistic=18.0, pvalue=0.5637028616507731)

> t検定でも，Wilcoxon検定でも，差はない。