# Chap.6

***
## Chap.6-1

***
### 6-1-1

In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mtl
import seaborn as sns

/Users/me/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/me/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/me/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/me/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/me/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

***
### 6-1-2

In [2]:
hier_df = pd.DataFrame(np.arange(9).reshape(3,3),
                      index=[['a', 'a', 'b'],
                             [ 1,   2,   2 ]],
                      columns=[['Osaka', 'Tokyo', 'Osaka'],
                               ['Blue',  'Red',   'Red'  ]])

In [3]:
hier_df

    Osaka Tokyo Osaka
     Blue   Red   Red
a 1     0     1     2
  2     3     4     5
b 2     6     7     8

In [4]:
hier_df.index.names = ['key1', 'key2']

In [5]:
hier_df

          Osaka Tokyo Osaka
           Blue   Red   Red
key1 key2
a    1        0     1     2
     2        3     4     5
b    2        6     7     8

In [6]:
hier_df.columns.names = ['city', 'color']

In [7]:
hier_df

city      Osaka Tokyo Osaka
color      Blue   Red   Red
key1 key2
a    1        0     1     2
     2        3     4     5
b    2        6     7     8

***
#### 6-2-1-1

In [8]:
hier_df['Osaka']

color      Blue  Red
key1 key2
a    1        0    2
     2        3    5
b    2        6    8

****
#### 6-2-1-2

In [9]:
hier_df.sum(level='key2', axis=0)

city  Osaka Tokyo Osaka
color  Blue   Red   Red
key2
1         0     1     2
2         9    11    13

In [10]:
hier_df.sum(level='key1', axis=0)

city  Osaka Tokyo Osaka
color  Blue   Red   Red
key1
a         3     5     7
b         6     7     8

In [12]:
hier_df.sum(level='color', axis=1)

color      Blue  Red
key1 key2
a    1        0    3
     2        3    9
b    2        6   15

In [13]:
hier_df.sum(level='city', axis=1)

city       Osaka  Tokyo
key1 key2
a    1         2      1
     2         8      4
b    2        14      7

In [14]:
hier_df.sum(level='city', axis=1).sum(level='key1', axis=0)

city  Osaka  Tokyo
key1
a        10      5
b        14      7

***
#### 6-2-1-3

In [15]:
hier_df.drop(['b'])

city      Osaka Tokyo Osaka
color      Blue   Red   Red
key1 key2
a    1        0     1     2
     2        3     4     5

◼️データフレームのメソッドをバインドしても，元のデータフレームは変更されない：

In [16]:
hier_df

city      Osaka Tokyo Osaka
color      Blue   Red   Red
key1 key2
a    1        0     1     2
     2        3     4     5
b    2        6     7     8

***
#### Plactice 6-1

In [22]:
hier_df1 = pd.DataFrame(np.arange(12).reshape(3,4),
                      index=[['c', 'd', 'd'],
                             [ 1,   2,   2 ]],
                      columns=[['Kyoto', 'Nagoya', 'Hokkaido', 'Kyoto'],
                               ['Yellow','Yellow', 'Red',      'Blue'  ]])

hier_df1.index.names = ['key1', 'key2']
hier_df1.columns.names = ['city', 'color']

In [23]:
hier_df1

city       Kyoto Nagoya Hokkaido Kyoto
color     Yellow Yellow      Red  Blue
key1 key2
c    1         0      1        2     3
d    2         4      5        6     7
     2         8      9       10    11

In [24]:
hier_df1['Kyoto']

color      Yellow  Blue
key1 key2
c    1          0     3
d    2          4     7
     2          8    11

***
#### Practice 6-2

In [27]:
hier_df1.mean(level='city', axis=1)

city       Kyoto  Nagoya  Hokkaido
key1 key2
c    1       1.5     1.0       2.0
d    2       5.5     5.0       6.0
     2       9.5     9.0      10.0

***
#### Practice 6-3

In [28]:
hier_df1.mean(level='key2', axis=0)

city   Kyoto Nagoya Hokkaido Kyoto
color Yellow Yellow      Red  Blue
key2
1          0      1        2     3
2          6      7        8     9